@font-face {
  font-family: "Aura Display";
  src: url("/fonts/aura-display/regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Velour Text";
  src: url("/fonts/velour-text/regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
